
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="~/portfolio/IMG_20180721_112812635_HDR.jpg"></div>
</header>
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-uppercase text-center text-secondary">Hobbies and interests</h2>
            <hr class="star-dark mb-5">
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/IMG_20161119_183621686_HDR.jpg">
                <h3 class="name">Hockey</h3>
                <p class="description">As part of my Canadian Citizenship test prep, I have taken a stronger interest in the sport since I moved here in 2017.&nbsp; Additionally, my knowledge of it and other sports helped me gain a freelancing role writing social media content for a local hobby shop, a role in which I helped the agency win an award. (Hermes Creative Awards 2020)</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/IMG_20180424_072043955_HDR.jpg">
                <h3 class="name">Travel</h3>
                <p class="description">While 2020 put a stop to this, I do love to visit new places and have new experiences. Above is a picture from a morning safari in Eswatini.</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/IMG_20200904_102857.jpg">
                <h3 class="name">Hiking</h3>
                <p class="description">Canada has absolutely gorgeous nature and I take every opportunity to explore and immerse myself in it. This is the "Valley of the Gods" from Maligne Lake in Jasper National Park and the larger picture at the top of the page is from Panorama Ridge in Garibaldi Provincial Park.</p>
            </div>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/seawheezefinish.jpg">
                <h3 class="name">Running</h3>
                <p class="description">If you told me in 2015 that I would have run multiple half marathons in a few years, I would have NEVER believed you. But I have the medals and blister scars to prove it now. 3x Seawheeze participant!</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/lcfcgame.jpg">
                <h3 class="name">Football</h3>
                <p class="description">Due to a year of carpooling with an obsessed Liverpool fanatic, I adopted the Reds as my team. I have yet to pilgrimage to Anfield, but I did see Leicester draw with West Ham in their preposterous title winning season.</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <img class="img-fluid" src="~/portfolio/romepasta.jpg">
                <h3 class="name">Food!</h3>
                <p class="description">I am always looking for a good place to eat or something new and interesting to try. I have a great list of restaurants in Vancouver, message me if you need recommendations!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <h2 class="text-uppercase text-center text-white">Why Change Careers?</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col">
                <p><br><strong>After teaching for 6+ years, I made the tough decision to change careers. The current economic climate has made it difficult to continue as a teacher, especially when the schools I have been able to find employment at rely exclusively on international students. The declining enrollments meant the decision was partly made for me. I have jumped in with both feet, completing three Udacity Nanodegrees within 4 months and learning as much as I can. It has been difficult but it is so rewarding when, say, entering a long command into the CLI and it works.</strong><br></p>
            </div>
        </div>
</div>
