@{
    ViewData["Title"] = "Projects";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1>Projects</h1>
    </div>
</header>
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <img class="img-fluid" src="~/portfolio/IMG_20170909_201727599.jpg">
                </div>
                <div class="text">
                    <p>Is the hoodie too much?</p>

                    <h2>Future Projects</h2>

                    <p>I consider this website as one of my projects and it will continually change, iteration after iteration.</p>
                    <p>To Do App in React/TypeScript.</p>
                    <p>Platformer in C# and Unity.</p>
                    <p>Work time tracker in React.</p>
                    <p>Learning Blog, documenting my CS journey.</p>
                </div>
            </div>
        </div>
    </div>
</div>