@{
    ViewData["Title"] = "Projects";
}

<div class="container text-center pt-2">
    <h1>Projects</h1>
</div>

<div class="continer text-center mb-5">
    <h4 class="text-uppercase text-center text-secondary mb-0">Textured Glass</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/Rialto.jpg" alt="Picture of Rialto Sea Otter">
                <div class="card-body">
                    <p class="card-text text-justify">The program uses NumPy and OpenCV to manipulate an image. The example image is of Rialto, one of the gorgeous sea otters at the Vancouver Aquarium.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/horizontalrialtoflip.jpg" alt="Horizontally manipulated image of Rialto the Sea Otter.">
                <div class="card-body">
                    <p class="card-text text-justify">Decide on the manipulation you want. Slice and shuffle the image horizontally or vertically, or do you want it to be sliced and flipped?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/verticalslicerialto.jpg" alt="Vertically manipulated image of Rialto the Sea Otter.">
                <div class="card-body">
                    <p class="card-text text-justify">It is a simple program, but it taught me about virtual environments, importing packages/modules, and after seeing the result I was hooked.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="continer text-center pt-5">
    <h4 class="text-uppercase text-center text-secondary mb-0">What is next?</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/Rialto.jpg" alt="Picture of Rialto Sea Otter">
                <div class="card-body">
                    <p class="card-text text-justify">The program uses NumPy and OpenCV to manipulate an image. The example image is of Rialto, one of the gorgeous sea otters at the Vancouver Aquarium.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/horizontalrialtoflip.jpg" alt="Horizontally manipulated image of Rialto the Sea Otter.">
                <div class="card-body">
                    <p class="card-text text-justify">Decide on the manipulation you want. Slice and shuffle the image horizontally or vertically, or do you want it to be sliced and flipped?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/portfolio/verticalslicerialto.jpg" alt="Vertically manipulated image of Rialto the Sea Otter.">
                <div class="card-body">
                    <p class="card-text text-justify">It is a simple program, but it taught me about virtual environments, importing packages/modules, and after seeing the result I was hooked.</p>
                </div>
            </div>
        </div>
    </div>
</div>