@{
    ViewData["Title"] = "Projects";
}

<div class="container text-center pt-2">
        <h1>Projects</h1>
</div>
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <img class="img-fluid" src="~/portfolio/IMG_20170909_201727599.jpg">
                </div>
                <div class="text-center">
                    <p>Is the hoodie too much?</p>

                    <h2>Future Projects</h2>

                    <p>I consider this website as one of my projects, I have updated it from Flask and migrated to ASP.NET.</p>
                    <p>I will detail my other projects on here as well.</p>

                </div>
            </div>
        </div>
    </div>
</div>