
@{
    ViewData["Title"] = "TexturedGlass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead text-center text-white" style="background: #060a23;">
    <div class="masthead-content">
        <div class="container">
            <h1 class="display-1">Textured Glass</h1>
            <h2 class="display-2 masthead-heading mb-0" style="font-size: 50px;">It takes an image</h2>
            <h3 class="display-4 masthead-subheading mb-0" style="font-size: 50px;">then Flips, Rotates, or Reverses it!</h3>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle" style="background: #121673;"></div>
    <div class="bg-circle-2 bg-circle" style="background: #121673;"></div>
    <div class="bg-circle-3 bg-circle" style="background: #341d18;"></div>
    <div class="bg-circle-4 bg-circle" style="background: #341d18;"></div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="~/portfolio/Rialto.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">It is quite simple</h2>
                    <p>The program uses NumPy and OpenCV to manipulate an image. The example image is of Rialto, one of the gorgeous sea otters at the Vancouver Aquarium.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="~/portfolio/horizontalrialtoflip.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Vertical or Horizontal</h2>
                    <p>Decide on the manipulation you want. Slice and shuffle the image horizontally or vertically, or do you want it to be sliced and flipped?</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="~/portfolio/verticalslicerialto.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Boom! We called it Textured Glass!</h2>
                </div>
            </div>
        </div>
    </div>