<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PLCG4BV');</script>
        <!-- End Google Tag Manager -->
        <title>{% block title %}  Home - Peter Spangler {% endblock %}</title>
        <meta name="description" content="My Personal Website">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/style.min.css">
        {% endblock %}
    </head>

    <body id="page-top">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLCG4BV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="text">{% block content %}
            <p>Just started rewatching The Wire for the 3rd time, which is exactly how I wanted to end 2020.</p>

            <p>This website will continually change, iteration after iteration. I will implement different frameworks, CSS, all that fun stuff.</p>
            {% endblock %}
        </div>
        
    </body>

</html>