<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PLCG4BV');</script>
    <!-- End Google Tag Manager -->
    <title>Home - Peter Spangler</title>
    <meta name="description" content="My Personal Website">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style.min.css">

</head>

<body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLCG4BV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="bg-indigo-800 p-4 flex justify-between items-center">
        <div class="flex items-center">
            <a href="#portfolio" class="inline-block p-2 text-indigo-200 hover:text-indigo-500">Tech Stack + Projects</a>
            <a href="/about" class="inline-block p-2 text-indigo-200 hover:text-indigo-500">About Me</a>
        </div>
        <div class="flex items-center">
            <a href="#contact" class="inline-block p-2 text-indigo-200 hover:text-indigo-500">Contact Me</a>
            <a href="randomthoughts" class="inline-block py-2 px-4 text-indigo-200 hover:text-indigo-500">Random Thoughts</a>
        </div>
    </div>
    <div class="bg-indigo-600 p-2 flex justify-between items-center">
        <div class="flex items-center">
            <h1 class="inline-block p-2 text-3xl text-black">Pete Spangler</h1>
        </div>
        <div>
            <h2 class="inline-block py-2 px-4 text-black">Web Developer - Copywriter - Raconteur</h2>
        </div>
    </div>
    <section id="portfolio" class="portfolio">
        <div>
            <h2 class="text-uppercase text-center text-secondary">Tech stack + Projects</h2>
        </div>
    </section>
    <div class="projects-horizontal">
        <div class="container">
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../static/portfolio/FlaskGood.png"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="https://github.com/PeteSpangler/UdacityFullStackWebDev">Fyyur and Trivia API</a></h3>
                            <p class="description">Utilized the Flask Web Framework for several projects through a Udacity Full Stack Web Development Nanodegree, as well as this website!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../static/portfolio/python.jpg"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="textured_glass">Python</a></h3>
                            <p class="description">My main programming language, so the majority of my projects have been written in Python. Click on link above for just one example of what I have made with Python.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../static/portfolio/docker_Logo.png"></a></div>
                        <div class="col">
                            <h3 class="name">Docker</h3>
                            <p class="description">This website is deployed as a Docker container from an Azure Container Registry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../static/portfolio/azure-1.png"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="https://github.com/PeteSpangler/UdacityAzureDeveloper">Azure</a></h3>
                            <p class="description">I recently completed the Udacity Azure Developer Nanodegree, in which I built several projects utilizing different features of Azure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white"><a class="btn btn-outline-primary active btn-lg" role="button" href="about" style="background: rgb(44,62,80);width: 300px;height: 50px;padding: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;text-align: center;font-size: 30px;"><strong>Learn More</strong></a></h2>
            <hr
                class="star-light mb-5">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead text-center">An experienced teacher looking to transition into a new industry.</p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead text-center">Award Winning Social Media Copywriter, avid runner, and ravenous reader with an insatiable hunger for knowledge.</p>
                    </div>
                </div>
                <div class="text-center mt-4"></div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate" data-bss-recipient="3e0a7d02723fa32402827864cac70a93">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Name</label><input class="form-control" type="text" id="name" required="" placeholder="Name"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Email Address</label><input class="form-control" type="email" id="email" required="" placeholder="Email Address"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Phone Number</label><input class="form-control" type="tel" id="phone" required="" placeholder="Phone Number"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea class="form-control" id="message" required="" placeholder="Message" rows="5"></textarea><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary active btn-block btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h2 class="text-uppercase text-center mb-4">Location</h2>
                    <p class="lead text-capitalize text-center" style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Vancouver, BC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" style="background: url('/static/portfolio/GitHub-Mark-32px.png') center no-repeat;border-style: none;" href="https://github.com/petespangler"></a></li>
                        <li
                            class="list-inline-item"></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://www.linkedin.com/in/petertspangler/" style="background: url('static/portfolio/LI-In-Bug.png') center / contain no-repeat;text-align: center;border-style: none;border-left-style: none;"></a></li>
                            <li
                                class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">YNWA</h4>
                    <p class="lead mb-0"><span><a href="https://youtu.be/buoMlAshKXQ">Liverpool FC</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;Pete Spangler 2020</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <script src="../static/js/smart-forms.min.js"></script>
</body>

</html>